<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <%= render "progress_bar", object: @progress %><br>
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Experience</h2><hr>
            <%= form_with(model: @enrolment, local: true, method: :put, url: wizard_path) do |f| %>
              <%= render 'confirmation_modal', f: f %>
              <% f.hidden_field :submitted, value: "true" %>
              <h5>Please briefly mention if you have any prior camping experience</h5>
              
              <div class="form-outline mb-4">
                <%= f.text_area :experience, class: "form-control mb-4" %>
              </div>
              
              <div class="form-outline">
                <%= link_to "Previous", previous_wizard_path(enrolment: @enrolment), class: "btn btn-success" %>
                <% if @enrolment.progress >= 90 %>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Submit Application
                  </button> 
                <% else %>
                  <%= link_to "Go to Dashboard", wizard_path(:dashboard), class: "btn btn-success" %>
                <% end %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
