<%# <p id="notice"><%= notice %>
<%= render  "layouts/sidebar" %>
<%#= render "layouts/formlayout" %>
<div class="card rounded-3">
  <div class="card-body">
    <h1>Users</h1>

    <%= form_with(url: users_path, method: :get) do |f| %>
      <%= f.text_field :query %>
      <%= f.submit "Search" %>
    <% end %>
    
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Phone Number</th>
          <th>Country</th>
          <th>Actions</th>
          <%# <th colspan="3"></th> %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= "#{user.first_name} #{user.last_name}"%></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= "#{user.country_code} #{user.phone_number}" %></td>
            <td><%= user.country%></td>
            <td>
              <%= link_to 'Show', user_path(@users), class: "btn btn-primary"%>
              <% if user.role != "admin" %>
                <%= link_to 'Edit', edit_user_path(@users), class: "btn btn-success", disabled: "true"%>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-danger"%>
              <%end%>
            </td> 
          </tr>
        <% end %>
      </tbody>

    </table><br>
    <div id = "new-user">
      <%= link_to 'Add New User', new_user_path, class: "btn btn-success", remote: true %>
    </div>
  <div>
<div>
