<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h2>Forgot your password?</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-outline mb-4">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-75" %>
              </div>


              <div class="form-outline mb-4">
                <%= f.submit "Reset password", class: "btn btn-success w-auto" %>
                <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-success w-auto" %>
              </div>
            <% end %>
            
            <center>
              <div class="form-outline mb-4">
                <a><%= link_to "Privacy Policy", privacy_policy_url %></a> | <a>Terms of service</a>
              </div> 
            </center>

          <div>
        <div>
      <div>
    <div>
  </div>
</section>
