
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-8 col-xl-6">
    <div class="card rounded-3">
      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img3.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo"> 
      <div class="card-body p-4 p-md-5">



        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-outline mb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-outline mb-4">
            <%= f.submit "Reset password", class: "btn btn-success w-auto" %>
              <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-success w-auto" %>
          </div>
        <% end %>
        
        <center>
          <div class="form-outline mb-4">
            <a href = https://ge-stage-2019.herokuapp.com/privacy_policy >Privacy Policy</a>
            <a> | </a><a>Terms of service</a>
          </div> 
        </center>
      <div>
    <div>
  <div>
<div>

