<div class="card rounded-3">
  <div class="card-body">
    <h1>Users</h1>
    <div class="row">
    <div class = "col-lg-6">
      <%= form_with(url: admin_users_path, method: :get) do |f| %>
        <%= f.text_field :query, class: 'search', placeholder: "Search by User ID Name or Email" %>
        <%= f.submit "Search" , class: "btn btn-success"%>
      <% end %>
    </div>
    <div class = "col-lg-6">
      <div class="button" id = "new-user">
        <%= link_to 'Add New User', new_admin_user_path, class: "btn btn-success" %>
      </div>
    </div>

    </div>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Phone Number</th>
          <th>Country</th>
          <th>Actions</th>
          <%# <th colspan="3"></th> %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= "#{user.first_name} #{user.last_name}"%></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= "#{user.country_code} #{user.phone_number}" %></td>
            <td><%= user.country%></td>
            <td>
              <%= link_to 'Show', admin_user_path(user), class: "btn btn-primary"%>
              <% if user.role != "admin" %>
                <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-success", disabled: "true"%>
                <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-danger"%>
              <%end%>
            </td> 
          </tr>
        <% end %>
      </tbody>

    </table><br>
    <p><%= link_to("Generate Report", admin_users_path(format: :csv), class: "btn btn-success",) %></p>
    <%= pagy_bootstrap_nav(@pagy).html_safe %> 
  <div>
<div>
