<tr id="camp_<%= camp.id %>">
  <td><%= camp.name %></td>
  <td><%#= camp.locations.each { |l| puts l.to_s } %></td>
  <td><%= camp.status %></td>
  <td><%= camp.registration_date %></td>
  <td>
    <%= link_to 'Show', admin_camp_path(camp), class: "btn btn-primary"%>
    <%= link_to 'Edit', edit_admin_camp_path(camp), class: "btn btn-success", disabled: "true"%>
    <%= link_to 'Delete', admin_camp_path(camp), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-danger"%>
  </td> 
  <td>
   <%= form_with(model: @camp, url: admin_camps_path) do |f| %>
      <%= f.check_box :status, value: true  %>
   <% end %>
  </td>
</tr>
