<%= form_with(model: [:admin, @camp]) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @camp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-4">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "Nathia Gali", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <%= f.label :start_date %><br />
      <%= f.date_field :start_date, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-4">
      <%= f.label :end_date %><br />
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <%= f.label :registration_date %><br />
      <%= f.date_field :registration_date, class: "form-control" %>
    </div>
  </div>
 
  <div class="col-md-6 mb-4">
    <div class="form-check">
      <%= f.collection_check_boxes :location_ids, Location.all, :id, :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <%= f.radio_button :status, "active" %>
      <%= f.label :status , "Active", value: true %><br>
      <%= f.radio_button :status, "inactive"  %>
      <%= f.label :status ,"Inactive", value: false %>
    </div>
  </div>
 
  <br>
 
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
